<div class="container">
  <div class="row">
  <div class="col-md-12">
        <h3>Edit your rental:</h3>
        <%= simple_form_for [@user, @friend] do |f| %>
          <%= f.input :name %>
          <%= f.input :description %>
          <%= f.input :category %>
          <%= f.input :language %>
          <%= f.input :address, input_html: {data: {address_autocomplete_target: "address"}},
          wrapper_html: {data: {controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}, class: "d-none"} %>
          <%= f.input :price %>
          <%= f.input :photos, as: :file, input_html: { multiple: true } %>
          <%= f.button :submit, class: "btn btn-success" %>
        <% end %>
    </div>
  </div>
</div>
