<div class="form-container">
  <%= simple_form_for (@friend) do |f| %>
    <div class="form-inputs">
      <h1>Present your friend to our amazing community!</h1>
      <p>... Show them how  special your bond is</p>
      <%= f.input :name %>
      <%= f.input :description %>
      <%= f.input :category %>
      <%= f.input :address, input_html: {data: {address_autocomplete_target: "address"}},wrapper_html: {data: {controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}, class: "d-none"} %>
      <%= f.input :language %>
      <%= f.input :price %>
      <%= f.input :photos, as: :file, input_html: { multiple: true } %>
      <%= f.submit class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
