<div class="friends">
  <% @friends.each do |friend| %>
    <%= link_to friend_path(friend.id), class: "link_card", data: { turbolinks:"true" } do %>
      <div class="friend-card"
        data-controller="card"
        data-action="mouseover->card#showCard mouseout->card#hideCard">
          <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner" style="width: 400px">
              <div class="carousel-item active">
                <% if friend.photos.attached? %>
                  <% friend.photos.each_with_index do |photo,i| %>
                    <div class="carousel-item <%= 'active' if i==0 %>">
                      <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
                    </div>
                  <% end %>
                <% else %>
                  <div class="friend-large-photo" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_tag 'https://picsum.photos/200', height: 200, width: 100, crop: :fill %>')"></div>
                <% end %>
              </div>
            </div>
          </div>
          <div class="friend-content disable w-100 h-100"
            data-card-target="content">
            <h5><%= friend.name %></h5>
            <h6><%= friend.category %></h6>
            <p class="tag"><%= friend.description %></p>
            <span><i class="fa-solid fa-euro-sign"></i><%= friend.price %>€</span>
            <span><i class="fa-solid fa-star"></i>-</span>
          </div>
        </div>
    <% end %>
  <% end %>
</div>
