<div class="friends">
  <% @friends.each do |friend| %>
    <%= link_to friend_path(friend.id), class: "link_card" do %>
      <div class="friend-card"
        data-controller="card"
        data-action="mouseover->card#showCard mouseout->card#hideCard">
          <div class="image" data-card-target="image">
            <% if friend.photo.attached? %>
              <%= cl_image_tag friend.photo.key, height: 200, width: 400, crop: :fill %>
            <% else %>
              <%= image_tag 'https://picsum.photos/200', height: 200, width: 400, crop: :fill %>
            <% end %>
          </div>
          <div class="friend-content disable w-100 h-100"
            data-card-target="content">
            <h5><%= friend.name %></h5>
            <h6><%= friend.category %></h6>
            <p class="tag"><%= friend.description %></p>
            <span><i class="fa-solid fa-euro-sign"></i><%= friend.price %>€</span>
            <span><i class="fa-solid fa-star"></i>-</span>
          </div>
        </div>
    <% end %>
  <% end %>
</div>
