<div class="navbar navbar-expand-sm navbar-light navbar-airbnweird">
  <div class="container-fluid">
    <%=link_to root_path, class: "navbar-brand" do %>
      <h1>airbnweird</h1>
    <% end %>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "Rent a friend", friends_path, class: "nav-link", id: "link-airbnweird" %>
          </li>
          <li class="nav-item">
            <%= link_to "My Bookings", "#", class: "nav-link", id: "link-airbnweird" %>
          </li>
          <li class="nav-item dropdown">
            <%= image_tag "https://avatars.githubusercontent.com/u/101575940?s=400&u=4c082b8085bffceae067e44f8fd57668ccc1e9eb&v=4", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Manage your Friends", "#", class: "dropdown-item" %>
              <%= link_to "Settings", edit_user_registration_path, class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link", id: "link-airbnweird" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
